*
  margin: 0
  padding: 0

body
  background-color: #eee
  font-size: 12px
  font-family: Dotum, '돋움', sans-serif
  color: #333
  -webkit-text-size-adjust: none

h2, h3, h4, h5, h6
  font-size: 100%

ul, ol
  list-style-type: none

table
  border-collapse: collapse
  font-size: inherit

address
  clear: both
  margin: 20px 0
  padding: 2px 0
  text-align: center
  font-style: normal

  a
    font-weight: bolder

  a:hover
    text-decoration: underline

a
  color: #3a6e74
  text-decoration: none

small
  font-size: 11px

em
  color: #f60
  font-style: normal

i
  font-style: normal

q
  white-space pre-wrap

* + html q
  white-space pre
  word-wrap break-word

q.single
  white-space pre
  word-wrap normal

q:before, q:after
  content: ''

img
  border 0

input, textarea, select, button
  vertical-align: middle
  font-family: Dotum, '돋움', sans-serif
  font-size: 100%
  width: auto
  overflow: visible
