.graphsem
  float: right
  width: 287px
  height: 440px
  border: 1px solid #ccc
  border-left: 0
  padding-top: 20px
  background: #fff

.graphsem div
  overflow: hidden
  width: 287px
  height: 200px

.book
  float left
  overflow: hidden
  border: 1px solid #ccc
  width: 460px
  background-color: #fff

.viewer form
  overflow: hidden

.viewer h3
  padding: 10px
  text-align: center
  font-family: Gulim, '굴림', sans-serif
  font-size: 13px
  line-height: 24px

.viewer table
  margin: 0 auto 20px
  border-collapse: collapse
  table-layout: fixed

.viewer th
  font-weight: normal
  width: 160px

.viewer td
  width: 60px

.viewer td.n3
  width: 60px

.viewer thead tr
  height: 20px
  font-size: 11px
  color: #999
  text-align: center

.viewer tbody tr
  height: 30px

.viewer input
  display: block
  height: 18px
  margin: 0 auto
  border: 0
  border-bottom: 1px dotted #ccc
  text-align: center
  line-height: 1.5

.viewer th input
  width: 150px

.viewer td input
  width: 40px

.viewer select
  display: block
  margin: 0 auto
  width: 50px

.viewer tfoot
  font-weight bolder
  line-height 2
  text-align center

.gpa
  overflow: hidden
  height: 30px
  padding: 0 10px
  line-height: 30px
  text-align: center
  color: #fff
  background-color: #666
  font-family: Tahoma, Arial, sans-serif

.gpa strong
  font-size: 18px
