.header
  overflow hidden
  line-height 35px
  background #3a6e74
  // background-image linear-gradient(#325f65, #3a6e74 50%)
  color #fff
  font-family 'Helvetica Neue', sans-serif
  font-size 13px

  .container
    margin 0 auto

  a
    display block
    padding 0 10px
    color #fff

  .brand
    float left

    a
      font 700 24px/35px 'Magra', 'Trebuchet MS', sans-serif

      svg
      img
        vertical-align -1px

  ul
    float right
    margin-bottom 0

  ul + ul
    float left
    // font-weight bolder

  li
    float left
    line-height 35px

  a:hover
    background-color #275b61

  .active a
    cursor default
    background #eee
    // background-image linear-gradient(#ddd, #eee)
    color #22585e

  strong
    color #ffd400
