body
  font-size 13px

body, input, textarea, select, button
  font-family sans-serif

.container
  width auto

img.shrink
  max-width 100%
  height auto

.notices
  width auto

.gateway
  width auto
  border-radius 0
  border-left 0
  border-right 0

.outside
  h1
    margin 20px auto

.book
  float none
  width auto
  border-width 1px 0

  .sheets
    float none
    width auto
  
  .viewer
    float none
    width auto
    height auto

.graphsem
  float none
  width auto
  border-width 1px 0
    
.recent
  border-width 1px 0
  border-radius 0

.p13n .recent
  float none
  width auto
  
  ul a
    width auto
  
.topchoices
  float none
  width auto
  padding 20px

.detail
  float none
  width auto
  border-width 0 0 1px
  border-radius 0
  margin-bottom 20px
  
  .univ
    border-radius 0

  dd
    padding-top 32px
    padding-left 10px

.references
  float none
  width auto

.cal-cont
  width auto

.notes
  margin 0

.outer
  position static
  margin 10px auto
  cursor auto

:root .outer
  cursor auto

.btline
  width auto
  border-width 1px 0

.extraside img
  position static
  margin 10px auto
