.search
  padding-bottom: 10px
  text-align: right

.search label
  color: #999

.recent
  padding-bottom: 10px
  background-color: #fff
  border: 1px solid #ccc
  border-radius: 4px

.p13n .recent
  float: left
  width: 550px

.recent h3
  padding: 0 20px
  font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif
  font-size: 14px
  line-height: 36px

.recent h4
  width: 200px
  margin: 10px 0 8px
  padding: 0 20px
  border-bottom: 1px solid #ccc
  line-height: 16px
  font-weight: normal
  font-size: 11px
  color: #666

.recent ul a
  overflow: hidden
  display: block
  white-space: nowrap
  text-overflow: ellipsis
  height: 24px
  padding: 0 0 0 20px
  line-height: 24px
  color: #666
  font-size: 11px
  text-indent 30px

.recent .bg1 a
  background: url(/img/univtext.gif) no-repeat 20px -195px

.recent .bg2 a
  background: url(/img/univtext.gif) no-repeat 20px -95px

.recent .bg3 a
  background: url(/img/univtext.gif) no-repeat 20px -95px

.recent .bg4 a
  background: url(/img/univtext.gif) no-repeat 20px 5px

.recent ul a:hover
  background-color: #eef4f1

.p13n .recent ul a
  width 530px

.recent small
  position absolute
  overflow: hidden
  width: 30px
  visibility: hidden

.recent strong
  color: #333
  font-size: 12px

.recent em
  color: #069
  font-size: 12px

.recent .fade
  padding: 5px 20px

.mine
  padding-bottom: 5px
  border-bottom: 1px dashed #ccc

.topchoices
  overflow: hidden
  float: right
  width: 188px
  line-height: 18px
  white-space: nowrap
  text-overflow: ellipsis
  -o-text-overflow: ellipsis

.topchoices h3
  color: #666
  line-height: 24px

.topchoices a
  color: #666

.topchoices a:hover
  text-decoration: underline

.topchoices em
  font-size: 11px
  font-family: Tahoma, Arial, sans-serif
  color: #960

.topchoices strong
  font-weight: normal
  color: #369

/* show.css */

.detail
  float: left
  border: 1px solid #ccc
  border-width: 0 1px 1px
  border-radius: 4px
  width: 538px
  background: #fff

  .univ
    border-radius: 4px 4px 0 0
    padding: 0 20px
    line-height: 20px

.ext
  float: right
  padding: 15px 20px 0 0

.ext a
  color: #666

.ext a:hover
  text-decoration: underline

.ext .yondo
  color: #690

.ext .ewhaian
  color: #906

.ext .sogangin
  color: #c96

.ext .koreapas
  color: #900

.subject
  overflow: hidden
  // width: 380px
  height: 36px
  padding: 0 0 0 20px
  line-height: 36px
  background-color: transparent
  white-space: nowrap
  text-overflow: ellipsis
  -o-text-overflow: ellipsis
  font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif
  font-size: 16px

.subject small
  font-weight: lighter
  font-size: 13px

.detail

  .lecturer
    padding 0 20px 10px
  
.history
  line-height 1.5
  padding: 0 20px
  color: #999

.history em
  color: #333

.references
  width: 200px
  float: right

.switch
  overflow: hidden
  text-align: center
  line-height: 24px

.switch li
  float: left
  border: 1px solid #ccc
  border-radius: 4px 4px 0 0
  width: 98px
  background: #eee
  cursor: pointer

.switch .n1
  border-right: 0
  width: 99px

.n1 .switch .n1,
.n2 .switch .n2
  padding-bottom: 1px
  border-bottom: 0
  background: #fff

.n2 .same-lecturers,
.n1 .same-titles
  overflow: hidden
  height: 0

.references h3
  position: absolute
  top: -99in

.references ul
  overflow: hidden
  border: 1px solid #ccc
  border-top: 0
  border-radius: 0 0 4px 4px
  padding: 5px 0
  background: #fff
  line-height: 20px
  white-space: nowrap
  text-overflow: ellipsis
  -o-text-overflow: ellipsis

.references ul li
  padding: 0 10px

.references a
  color: #333

.references a:hover
  text-decoration: underline

.references .self
  font-weight: bolder
  letter-spacing: -1px

// .comments
//   float: left
//   width: 538px
//   background-color: #fff
//   border: 1px solid #ccc
//   border-top: 0
//   border-radius: 0 0 4px 4px
//   padding-bottom: 10px

.detail textarea
  width: 99%
  height: 80px
  line-height: 1.5

.detail dl
  min-height: 350px
  -height: 350px
  margin: 10px

.detail dt
  position: absolute
  display: block
  padding: 10px 10px 0
  color: #999

.detail dd
  border-top: 1px solid #eee
  padding: 7px 10px 7px 140px
  line-height: 1.5

.detail del
  color: #999
  text-decoration: none

.pages-cont
  overflow: hidden

.pages
  text-align: center

.pages a
  overflow: hidden
  display: inline-block
  width: 16px
  height: 16px
  font-family: Arial, sans-serif
  color: #3a6e74

.pages a:before
  content: ' '
  overflow: hidden
  display: block
  width: 6px
  height: 6px
  margin: 5px
  border-radius: 3px
  background: #3a6e74

.pages a:hover,
.pages a.self
  color: red

.pages a:hover:before,
.pages a.self:before
  background: red

.search-result
  background: #fff
  border: 1px solid #ccc
  padding-bottom: 15px

.search-result h3
  padding: 0 20px
  line-height: 36px
  font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', Dotum, '돋움', sans-serif
  font-size: 14px

.search-result table
  margin: 0 auto
  line-height: 24px

.search-result thead
  font-weight: bolder

.search-result td
  padding: 0 10px

.search-result a
  color: #09c

.search-result p
  padding: 15px 20px 0
