@import 'base'
@import 'common'
@import 'system'
@import 'header'
@import 'noticeboard'
@import 'rating'
@import 'calculator'
@import 'curriculum'
@import 't'
@media screen and (max-width: 767px)
  @import 'mobile'
