.outside
  text-align: center

  a
    font-weight: bolder

  input
    font-size 125%
    font-weight bolder

  h1
    width: 300px
    margin: 60px auto 24px
    text-align left

  h1 a
    display: block
    text-indent: 94px
    background: no-repeat url(/img/logo_l.png)
    font: 700 50px/70px Magra, 'Trebuchet MS', sans-serif
    color: #3a6e74

  p
    margin: 12px 0

.gateway
  zoom: 1
  overflow: hidden
  width: 420px
  margin: 20px auto
  border: 1px solid #999
  border-radius: 4px
  -moz-border-radius: 4px
  -webkit-border-radius: 4px
  padding: 5px 0
  background-color: #f8f8f8

.quickview .tip
  margin-left: 1em
  font-weight: normal
  font-size: 11px
  letter-spacing: -1px
  color: #666
  border-bottom: 2px solid #999

.menu
  margin 0
  padding: 0
  font-family: NanumGothic, '나눔고딕', Malgun Gothic, '맑은 고딕', Gulim, '굴림', sans-serif
  font-size 108%

.menu li
  display: inline

.notices
  width: 350px
  margin: 20px auto
  line-height: 1.5
  text-align: left

.notices li
  list-style-type disc
  margin: 6px 0 6px 20px

.pop3
  position: absolute
  left: 50%
  top: 108px
  margin-left: 244px
  border: 1px solid #999

.pop3 img
  display: block
  border: 0

.outside .txt
  margin-left: auto
  margin-right: auto
  width: 650px
  text-align: left

.outside
  label
    font-weight: bolder

table.univ
  margin: 1em auto
  text-align: center
  vertical-align: top

table.univ td
  padding: 0 5px

.submit input, button[type=submit]
  font-size: 125%
  font-weight: bolder

.btline
  width 500px
  margin 10px auto
  padding: 20px 0
  border 1px solid #ddd
  text-align center
  background #fff

  p
    line-height 2

  .leave
    color: red
