option 채플
optgroup(label="교양")
  option 교양선택
  option 이화진선미(인성)
  option 사고와표현
  option 글로벌의사소
  option 융복합교양(과학과기술)
  option 융복합교양(문학과언어)
  option 융복합교양(역사와철학)
  option 융복합교양(인간과사회)
  option 융복합교양(표현과예술)
  option 융합기초
  option 미래설계(경력.리더십)
  option 미래설계(글로벌소양)
  option 미래설계(아티.언.스)
  option 미래설계(자유설계)
  option 핵심교양(과학과기술영역)
  option 핵심교양(문학과언어영역)
  option 핵심교양(사고와소통)
  option 핵심교양(사회의이해)
  option 핵심교양(세계의이해)
  option 핵심교양(역사와문화영역)
  option 핵심교양(역사와철학영역)
  option 핵심교양(예술의이해)
  option 핵심교양(인간과사회영역)
  option 핵심교양(인간의이해)
  option 핵심교양(자연과과학)
  option 핵심교양(표현과예술영역)
option 전공선택(교직)
option 대학기초
option 전공기초
optgroup(label="전공")
optgroup(label="인문과학대학")
  option 인문과학부
  option 국어국문학
  option 중어중문학
  option 영어영문학
  option 불어불문학
  option 독어독문학
  option 사학
  option 철학
  option 기독교학
optgroup(label="사회과학대학")
  option 사회과학부
  option 정치외교학
  option 행정학
  option 경제학
  option 문헌정보학
  option 사회학
  option 사회복지학
  option 심리학
  option 소비자학
  option 언론.홍보.영상학부
  option 언론정보학
  option 광고.홍보학
  option 방송.영상학
optgroup(label="자연과학대학")
  option 수학
  option 통계학
  option 물리학
  option 화학.나노과학
  option 생명과학
optgroup(label="공과대학")
  option 컴퓨터공학
  option 전자공학
  option 컴퓨터공학과
  option 건축학부
  option 건축학
  option 건축공학
  option 환경공학
  option 식품공학
optgroup(label="음악대학")
  option 건반악기
  option 관현악
  option 성악
  option 작곡
  option 한국음악
  option 무용과
optgroup(label="조형예술대학")
  option 조형예술학부
  option 동양화
  option 서양화
  option 조소
  option 섬유예술
  option 도자예술
  option 공간디자인
  option 시각디자인
  option 산업디자인
  option 패션디자인
  option 영상디자인
  option 의류학과
  option 섬유예술
  option 패션디자인
  option 의류학
optgroup(label="사범대학")
  option 교육학과
  option 유아교육과
  option 초등교육과
  option 교육공학과
  option 특수교육과
  option 영어교육과
  option 사회생활학과
  option 역사교육
  option 지리교육
  option 일반사회교육
  option 사회교육
  option 국어교육과
  option 과학교육과
  option 물리교육
  option 화학교육
  option 생물교육
  option 지구과학교육
  option 수학교육과
optgroup(label="경영대학")
  option 경영학
  option 국제사무학
optgroup(label="건강과학대학")
  option 건강과학대학
  option 간호과학
  option 체육과학
  option 식품영양학과
  option 보건관리학과
optgroup(label="약학대학")
  option 약학과
  option 산업제약학과
optgroup(label="스크랜튼대학")
  option 스크랜튼학부
  option 자기설계(스크랜튼-통합적문화연구)
  option 자기설계(스크랜튼-디지털인문학)
  option 자기설계(스크랜튼-사회과학이니셔티브)
  option 자기설계(스크랜튼-과학융합)
  option 자기설계(스크랜튼-사회와정의)
  option 융합학부
  option 뇌·인지과학
  option 국제학부
  option 국제학
  option 글로벌한국학
optgroup(label="법과대학")
  option 법학과
optgroup(label="의과대학")
  option 의학과
optgroup(label="신산업융합대학")
  option 융합콘텐츠학
  option 의류산업학
  option 국제사무학
  option 체육과학부
  option 스포츠과학
  option 글로벌스포츠산업
  option 식품영양
  option 융합보건학
option 비사대교직
optgroup(label="연계전공")
  option 한국여성연구원
  option 북한학
  option 지역연구
  option 영재교육
  option 생명윤리정책
  option 동아시아학연구
  option 기술개발
  option 동아시아학
  option 미국학
  option 유럽학
  option 미술사학
  option 여성학
  option 멀티미디어학
  option 전자상거래학
  option 전문영어
  option NGO
  option 북한학
  option 한국학
  option 인지과학
  option 도덕.윤리교육
  option 정보보호학
  option 과학기술경영
  option 재무경제
  option 공통사회
  option 공통과학
  option 아동학
  option 바이오인포매틱스
  option 자연과학과철학
  option 일본언어문화
  option 사회복지학
  option 계산과학
  option 융합디자인
  option 학점교환
  option 경영학
  option 영어영문학
  option 정보통신
  option 중국어
  option 프랑스지역
  option 실용음악
optgroup(label="학점교환")
  option 연세대학교(1학점)
  option 연세대학교(2학점)
  option 연세대학교(3학점)
  option 서강대학교
