optgroup(label="공통기초(2010~)")
  option 채플
  option 기독교의이해
  option 대학영어
  option 글쓰기
optgroup(label="필수교양(2010~)")
  option 문학과예술
  option 인간과역사
  option 언어와표현
  option 가치와윤리
  option 국가와사회공동체
  option 지역사회와세계
  option 논리와수리
  option 자연과우주
  option 생명과환경
optgroup(label="학부기초(~2009)")
  option 학부기초
  option 기독교의이해
  option 대학영어
optgroup(label="학부필수(~2009)")
  option 인간의이해
  option 자연의이해
  option 사회의이해
  option 문화의이해
  option 세계의이해
optgroup(label="계열기초(~2009)")
  option 계열기초
optgroup(label="선택교양(2010~)")
  option Freshman Seminars
  option Gateway to College
  option 역사·철학영역
  option 과학·기술영역
  option 사회·윤리영역
  option 인문·예술영역
  option 세계문화·언어영역
  option 생활·건강영역
optgroup(label="학부선택(~2009)")
  option Freshman Seminars
  option Gateway to College
  option 인간이해와역사
  option 과학과기술
  option 사회와가치
  option 문학과예술
  option 외국어와세계이해
  option 건강과스포츠
optgroup(label="학부대학")
  option 자유전공
  option (~2009)인문계열-인문학부
  option (~2009)인문계열-외국어문학부
  option (~2009)인문계열-교육학부
  option (~2009)상경계열
  option (~2009)경영계열
  option (~2009)이학계열-자연과학부
  option (~2009)공학계열-화공생명공학부
  option (~2009)공학계열-전기전자공학부
  option (~2009)공학계열-건축도시공학부
  option (~2009)공학계열-사회환경시스템공학부
  option (~2009)공학계열-기계공학부
  option (~2009)공학계열-신소재공학부
  option (~2009)공학계열-컴퓨터정보공학부
  option (~2009)생명시스템계열
  option (~2009)사회과학계열/언론홍보영상학부
optgroup(label="문과대학")
  option 문과대학 공통
  option 국어국문학전공
  option 사학전공
  option 철학전공
  option 문헌정보학전공
  option 심리학전공
  option 중어중문학전공
  option 영어영문학전공
  option 독어독문학전공
  option 불어불문학전공
  option 노어노문학전공
optgroup(label="상경대학")
  option 상경대학 공통
  option 경제학전공
  option 응용통계학전공
  option 상경계열
optgroup(label="경영대학")
  option 경영학전공
optgroup(label="이과대학")
  option 이과대학 공통
  option 수학전공
  option 물리학전공
  option 화학전공
  option 지구시스템과학전공
  option 천문우주학전공
  option 대기과학전공
  option 의예과
  option 치의예과
  option 자연과학부
optgroup(label="공과대학")
  option 공과대학공통
  option 화공생명공학전공
  option 전기전자공학전공
  option 건축공학전공
  option 건축학(설계)
  option 도시공학전공
  option 토목환경공학전공
  option 기계공학전공
  option (~2008)금속시스템공학전공
  option (~2008)세라믹공학전공
  option 신소재공학전공
  option 정보산업공학전공
  option 컴퓨터과학전공
optgroup(label="생명시스템대학")
  option 생명시스템공통
  option 생물학전공
  option 생화학전공
  option 생명공학전공
optgroup(label="신과대학")
  option 신학과
optgroup(label="사회과학대학")
  option 사회과학대학공통
  option 정치외교학전공
  option 행정학전공
  option 사회복지학전공
  option 사회학전공
  option 문화인류학전공
  option 언론홍보영상학부
  option 신문방송학전공
optgroup(label="법과대학")
  option 법학전공
optgroup(label="음악대학")
  option 음악대학
optgroup(label="생활과학대학")
  option 생활과학대학 공통
  option 의류환경학전공
  option 식품영양학전공
  option 주거환경학전공
  option 아동·가족전공
  option 생활디자인전공
optgroup(label="교육과학대학")
  option 교육학전공
  option 체육교육학전공
  option 스포츠레저학전공
optgroup(label="의과대학")
  option 의학전공
optgroup(label="언더우드국제대학")
  option 공통교과과정
  option 언더우드학부(인문사회)-비교문학과문화
  option 언더우드학부(인문사회)-경제학
  option 언더우드학부(인문사회)-국제학
  option 언더우드학부(인문사회)-정치외교학
  option 언더우드학부(공학)-생명과학공학
  option 언더우드학부(공학)-융합정보공학
  option 국제교육부-국제교육부
  option 국제교육부-대학원(일반/GSIS/GMBA)
  option 국제교육부-한국어학당
optgroup(label="치과대학")
  option 치의학전공
optgroup(label="간호대학")
  option 간호학전공
  option 간호학(2-4학년)
  option RN-BSN
optgroup(label="국제캠퍼스")
  option 자유전공(1학년)
  option 외국인글로벌학부
  option 의예과(1학년)
  option 치의예과(1학년)
  option 언더우드학부(1학년)
  option 공통기초
  option 필수교양-문학과예술
  option 필수교양-인간과역사
  option 필수교양-언어와표현
  option 필수교양-가치와윤리
  option 필수교양-국가와사회공동체
  option 필수교양-지역사회와세계
  option 필수교양-논리와수리
  option 필수교양-자연과우주
  option 필수교양-생명과환경
  option 선택교양-Residential Education
  option 선택교양-기타
optgroup(label="연계전공")
  option 유럽지역학
  option 디지털예술학
  option 미국학
  option 중국학
  option 한국학
  option 일본학
  option 외교통상학
  option 인지과학
  option 전자상거래학
  option 벤처학
  option 리더십
  option 동아시아학
  option 디지털인문학
  option 비교문학
  option 문화비평학
  option 과학기술과 사회
option 교직과정
option 평생교육사과정
option 군사학
option 이화여자대학교
option 서강대학교
