doctype
html(lang="ko")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="minimum-scale=1,initial-scale=1")
    title
      block subtitle
      |  타임테이블
    link(rel="stylesheet" href="#{buildPrefix}/css/style.css")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Magra:700")
  body
    block body
    address
      a(href="mailto:holies@timetabl.com") holies@timetabl.com
    script(src="#{buildPrefix}/js/googleaz.js")
