if true
  p.ban
    a(href="http://goo.gl/m1lXAP" target="_blank" onclick="ga('send','event','ad','skypeople')")
      img.shrink(src="/img/adskypeople2.png" width="600" height="100" alt="(광고) 스카이피플")
