extends barebone

block body
  p#loading.loading 전송 중입니다~
  p#error.error 인터넷 연결이 끊어졌어요!

  .resultprefs
    input#sw-remark(type="checkbox", name="remark", checked)
    label(for="sw-remark")  비고

  #resultsetlabel.resultsetlabel
    a.s(href="#favorite", title="즐겨찾기") ♥

  form#searchform.searchform(action="search")
    select#domain
      option(value="") (영역 선택 도우미)
      case my.univ
        when 1
          include domains.sogang.jade
        when 2
          include domains.yonsei.jade
        when 3
          include domains.wonju.jade
        when 4
          include domains.ewha.jade
    = ' '
    input#statement.statement(name="statement", accesskey="s")
    input.submit(type="submit", value="검색")
    = ' '
    label(for="F0")
      input#F0(type="checkbox", name="excl")
      |  시간 겹치는/없는 것 제외
    = ' '
    a(target="_blank", href=univCurriculumURL(my.univ)) 학교편람보기

  #help.help
    dl
      dt 시간 제한
      dd 화요일 2교시 <em>화2</em> | 목요일 3-5교시 <em>목3-5</em> | 월·수·금요일 <em>월수금</em> | 화·목요일 1-3교시 <em>화목1-3</em>
      dt 시간 제외
      dd TGIF <em>-금3-9</em> | 주4파 <em>-금토</em> | 점심시간사수 <em>-월화수목금4</em>
      dt 시간 필수
      dd 수요일 3교시가 포함된 모든 수업 <em>+수3</em>
      dt 학점
      dd 3학점 <em>$3</em>
      dt 장소
      dd “과”로 시작하는 장소 아마도 과학관 <em>@과</em>
      dt 학년
      dd 3학년 <em>3학년</em>

  #resultset.resultset
    #favorite(style="display:block")

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js")
  script(src="#{buildPrefix}/js/s.js")
